@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #566a77;
    --txt-color: #ffffff;
    --yellow: #ffd85b;
    --gray: #849db0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: inherit;
}

#calculator {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    border-radius: 16px;
    box-shadow: 8px 8px 20px gray;
}

#calculator__screen {
    display: flex;
    height: 20%;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 4rem;
    color: var(--txt-color);
    padding: 2rem 2rem;
}

#calculator__body {
    display: flex;
    padding: 0 1rem 2rem 1rem;
}

#col1 {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 0.5rem;
}

#col2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 25%;
    align-items: flex-end;
    gap: 1rem;
}

#op_buttons {
    display: flex;
    justify-content: space-between;
}

.op_button {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: none;
    font-weight: 800;
    background-color: var(--gray);
    color: white;
    font-size: 2rem;
}

.op_button:hover {
    background-color: #7194af;
    transition: all 150ms;
}

#numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.number_button {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 100%;
}

#ac {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 100%;
}

#ac:hover {
    background: var(--gray);
    transition: all 150ms;
}

.number_button:hover {
    background-color: var(--gray);
    transition: all 150ms;
}

#equal_button {
    height: 70%;
    width: 70%;
    background: var(--yellow);
    border: none;
    border-radius: 32px;
    font-size: 1.5rem;
    font-weight: 800;
}

#equal_button:hover {
    background-color: #f8cc3c;
    transition: all 150ms;
}